.topbar{
	display: inline;
	position: fixed;
	top: 5px;
	width: 100%;
}
.bottombar{
	display: inline;
	position: fixed;
	bottom: -15px;
	left: 0px;
	width: 100%;
	background-color: #1111;
	border-top: 0.25px solid rgba(0, 0, 0, 0.1);
}
.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}
.search{
	border:1.75px solid #1112;
	padding: 8px;
	font-weight: 500;
	font-size: 14px;
	opacity: 0.75px;
}
.search:hover{
	opacity: 1;
	border:1px solid #c6c6c6;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #1111;
	color: #222;
}
.apps{
	opacity: .60;
}
.searchbox{
	width: 80%;
	max-width: 500px;
	height: auto;
	display: block;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	box-shadow: 0px 3px 6px #999;
	border-width: 0px;
	font-size: 20px;
	font-family: arial;
	padding:10px 40px 10px 10px;
	background-image: url(mic.png);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position-x: right 10px;
	background-position-y:center;
}
.searchbox:focus{
	box-shadow: 1px 1px 5px rgba(0,0,0,.25);
}
.searchbox:hover{
	box-shadow: 1px 1px 5px rgba(0,0,0,.25);	
}
.signin{
	border: 1px solid #4285f4;
	border-radius: 2px;
	background-color: #4387fd;
	text-align: center;
	margin-right: 30px;
	padding: 8px 10px;
}
body{
	font-family:sans-serif;
	font-size: 12px;
	font-weight: lighter;
}
ul{
	list-style-type: none;
	padding: 0;
	margin-top:0;
}
ul li{
	margin-top: 5px;
}
li{
	padding: 10px;
}
li a{
	text-decoration: none;
	color: #000;
}
li a:hover {
	text-decoration: underline;
}